@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
:root {
  --extra: bisque;
  --black: #000;
  --black-a90: rgb(0 0 0/0.9);
  --black-a75: rgb(0 0 0/0.75);
  --black-a60: rgb(0 0 0/0.6);
  --black-a45: rgb(0 0 0/0.45);
  --black-a30: rgb(0 0 0/0.3);
  --black-a15: rgba(0, 0, 0, 0.15);
  --black-a12: rgba(0, 0, 0, 0.12);
  --black-a08: rgba(0, 0, 0, 0.08);
  --black-a04: rgba(0, 0, 0, 0.04);
  --white: #fff;
  --white-a90: rgb(255 255 255/0.9);
  --white-a85: hsla(0, 0%, 100%, 0.85);
  --white-a75: rgb(255 255 255/0.75);
  --white-a70: hsla(0, 0%, 100%, 0.7);
  --white-a60: rgb(255 255 255/0.6);
  --white-a55: hsla(0, 0%, 100%, 0.55);
  --white-a40: hsla(0, 0%, 100%, 0.4);
  --white-a25: hsla(0, 0%, 100%, 0.25);
  --white-a18: hsla(0, 0%, 100%, 0.18);
  --white-a12: hsla(0, 0%, 100%, 0.12);
  --white-a06: hsla(0, 0%, 100%, 0.06);
  --blue-10: #f6fbff;
  --blue-20: #e8f3ff;
  --blue-30: #d2e9ff;
  --blue-40: #aad6ff;
  --blue-50: #71b7fb;
  --blue-50-a20: rgba(112, 181, 249, 0.2);
  --blue-50-a30: rgba(112, 181, 249, 0.3);
  --blue-50-a40: rgba(112, 181, 249, 0.4);
  --blue-60: #378fe9;
  --blue-70: #0a66c2;
  --blue-70-a30: rgba(10, 102, 194, 0.3);
  --blue-70-a40: rgba(10, 102, 194, 0.4);
  --blue-70-a50: rgba(10, 102, 194, 0.5);
  --blue-80: #004182;
  --blue-90: #053059;
  --cool-gray-10: #f8fafd;
  --cool-gray-20: #edf3f8;
  --cool-gray-30: #dde7f1;
  --cool-gray-40: #c2d3e4;
  --cool-gray-50: #9eb5ca;
  --cool-gray-60: #788fa5;
  --cool-gray-70: #56687a;
  --cool-gray-80: #38434f;
  --cool-gray-85: #293138;
  --cool-gray-90: #293037;
  --warm-gray-10: #fbfaf8;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "ABeeZee", sans-serif;
  color: var(--black-a90);
}
/* *::-webkit-scrollbar {
  display: none;
} */
@keyframes change {
  10% {
    color: var(--black-a15);
  }
  20% {
    color: var(--black-a60);
    transform: rotate(360deg);
  }
  30% {
    color: var(--blue-50);
    transform: none;
  }
  40% {
    color: var(--blue-70-a50);
  }
  50% {
    color: var(--blue-50-a40);
    transform: rotateY(360deg);
  }
  60% {
    color: orange;
    transform: none;
  }
  70% {
    color: var(--cool-gray-70);
  }
  80% {
    color: var(--cool-gray-60);
  }
  90% {
    color: greenyellow;
  }
  100% {
    color: var(--cool-gray-80);
  }
}
@keyframes zoom {
  10%,
  50% {
    transform: scale(0.7);
  }
  20%,
  30%,
  40%,
  60%,
  70%,
  80%,
  90%,
  100% {
    transform: scale(1);
  }
}
@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
.bx {
  font-size: 25px;
  font-weight: lighter;
  cursor: pointer;
}
.btn {
  height: fit-content;
  width: fit-content;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  border-width: 0px;
  border-radius: 25px;
  color: var(--white) !important;
  background-color: var(--blue-70);
  cursor: pointer;
}
.btn:hover {
  background-color: var(--blue-60);
}
.btn-white {
  height: fit-content;
  width: fit-content;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  border-width: 0px;
  border-radius: 25px;
  color: var(--blue-70) !important;
  background-color: var(--white);
}
section {
  width: 100%;
  display: block;
  padding-left: 60px;
  padding-right: 60px;
  background-color: var(--black-a04) !important;
}
@media screen and (max-width: 800px) {
  section {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 500px) {
  section {
    padding-left: 10px;
    padding-right: 10px;
  }
  .btn {
    padding: 8px 15px;
    font-size: 11px;
    border-radius: 20px;
  }
}
.links {
  text-decoration: none;
  color: var(--blue-60);
}

/* HOME PAGE SECTION */
.dashboard-page-top,
.home-page-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0px 25px;
  border-bottom: 1px solid var(--black-a15);
  background-color: var(--white) !important;
}
.dashboard-page-top .app-name,
.home-page-top .app-name {
  font-size: 30px;
  font-weight: 100;
  color: var(--blue-70);
  font-family: "Titan One", sans-serif;
}
.dashboard-page-top .app-name span,
.home-page-top .app-name span {
  font-weight: bold;
  color: green;
}
.home-page-top div {
  width: fit-content;
  height: 60px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.home-page-top div .join {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: var(--black-60);
}

/* HOME PAGE HERO SECTION */
.home-page-hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
  height: 500px;
  background-color: var(--white) !important;
}
.home-page-hero div {
  width: 100%;
  height: fit-content;
}
.home-page-hero div h1 {
  margin-bottom: 15px;
  width: 100%;
  font-size: 65px;
  font-weight: 100;
  color: var(--blue-70);
  font-family: "Titan One", sans-serif;
}
.home-page-hero div p {
  margin-bottom: 25px;
  width: 100%;
  font-size: 16px;
  font-weight: 100;
  color: var(--blue-90);
}
.home-page-hero .col-2 {
  display: block;
  text-align: center;
}
.home-page-hero .image {
  width: fit-content;
  margin: 0px auto;
  font-size: 300px;
  font-weight: 100;
  color: green;
  animation: change 15s ease-in-out infinite 0s;
  transform-origin: center;
}

/* MEDIA QUERY TOP AND HERO SECTION */
@media screen and (max-width: 850px) {
  .home-page-hero div h1 {
    font-size: 45px;
  }
  .home-page-hero div p {
    font-size: 14px;
  }
}
@media screen and (max-width: 700px) {
  .dashboard-page-top,
  .home-page-top {
    padding: 0px 15px;
  }
  .dashboard-page-top .app-name,
  .home-page-top .app-name {
    font-size: 20px;
  }
  .dashboard-page-top .app-name span,
  .home-page-top .app-name span {
    font-size: 18px;
  }
  .home-page-hero .col-2 {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .dashboard-page-top,
  .home-page-top {
    padding: 0px 10px;
  }
  .home-page-top div .btn {
    display: none;
  }
}

/* HOME PAGE BODY */
.home-body {
  width: 100%;
  background-color: var(--white) !important;
}
.home-page-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  height: fit-content;
  margin: 70px auto;
  padding: 30px;
  border-radius: 15px;
  background-color: var(--blue-70);
}
.home-page-body div {
  width: 100%;
  height: fit-content;
}
.home-page-body div h1 {
  margin-bottom: 15px;
  width: 100%;
  font-size: 50px;
  font-weight: 100;
  color: var(--cool-gray-30);
  font-family: "Titan One", sans-serif;
}
.home-page-body div p {
  margin-bottom: 25px;
  width: 100%;
  font-size: 16px;
  font-weight: 100;
  color: var(--cool-gray-30);
}
.home-page-body .col-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page-body .img {
  width: 400px;
  height: 260px;
}

/* MEDIA QUERY FOR HOME PAGE BODY SECTION */
@media screen and (max-width: 950px) {
  .home-page-body div h1 {
    font-size: 36px;
  }
  .home-page-body div p {
    font-size: 13px;
  }
}
@media screen and (max-width: 850px) {
  .home-page-body {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .home-page-body {
    margin: 40px auto;
    padding: 20px;
  }
  .home-page-body div h1 {
    font-size: 26px;
  }
  .home-page-body div p {
    font-size: 11px;
  }
}
@media screen and (max-width: 400px) {
  .home-page-body .img {
    width: fit-content;
    height: fit-content;
  }
}

/* SIGNUP PAGE SECTION*/
.signup-page-body {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.org.selected,
.elect.selected,
.inner-container.selected {
  width: fit-content;
  height: fit-content;
  padding: 25px 35px;
  border-radius: 12px;
  border: 1px solid var(--black-a15);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  transition: 2s ease-in-out;
  background-color: var(--white);
}
.org,
.elect,
.inner-container {
  display: none;
  transition: 0.2s ease-in-out;
}
.org h1,
.elect h1,
.inner-container h1 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: "ABeeZee", sans-serif;
}
.org p,
.elect p,
.inner-container p {
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-family: "ABeeZee", sans-serif;
}
.inner-container .choose {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.inner-container .choose .col {
  width: 220px;
  height: 150px;
  padding: 18px;
  border-radius: 10px;
  border: 1px solid var(--black-a15);
  transition: 0.1s ease-in-out;
  position: relative;
}
.inner-container .choose .col.selected {
  border: 2px solid var(--blue-70);
  background-color: var(--black-a04);
}
.inner-container .choose .col.selected .circle {
  border: 2px solid var(--black-a15);
  background-color: var(--blue-60);
}
.inner-container .choose .col:hover {
  border: 2px solid var(--blue-70);
}
.inner-container .choose .col .circle {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--black-a15);
}
.inner-container .choose .col h4 {
  font-size: 13px;
  font-weight: 100;
}
/* FORM SECTIONS */
.forms {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 8px;
}
.forms input {
  width: 100%;
  height: 45px;
  padding: 8px 15px;
  border-radius: 22px;
  outline: none;
  border: 2px solid var(--black-a15);
  transition: 0.1s ease-in-out;
}
.forms input:hover {
  outline: none;
  border: 2px solid var(--black-a30);
}
.forms button {
  width: 100%;
}

/* MEDIA QUERY SIGN UP PAGE */
@media screen and (max-width: 600px) {
  .signup-page-body {
    min-height: 90vh;
  }
  .org.selected,
  .elect.selected,
  .inner-container.selected {
    margin: 40px auto;
    padding: 20px 17px;
    border-radius: 10px;
    gap: 20px;
  }
  .org h1,
  .elect h1,
  .inner-container h1 {
    font-size: 15px;
  }
  .org p,
  .elect p,
  .inner-container p {
    font-size: 10px;
  }
  .inner-container .choose {
    flex-direction: column;
    gap: 12px;
  }
  .inner-container .choose .col .circle {
    width: 13px;
    height: 13px;
  }
  .inner-container .choose .col h4 {
    font-size: 12px;
  }
}
@media screen and (max-width: 450px) {
  .forms {
    width: fit-content;
    gap: 13px;
    padding: 6px;
  }
  .forms input {
    height: 40px;
    padding: 5px 10px;
    border-radius: 20px;
  }
}

/* ELECTORS SECTION */
.orgs-single-page,
.profile-page,
.org-main-page,
.elector-main-page {
  width: 100%;
  height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 45px;
  background-color: var(--white);
}
.elector-top-section {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 50px;
}
.elector-top-section .ad-section {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}
.elector-top-section .ad-section .divide {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 5px 50px;
  gap: 15px;
  border: 1px solid var(--black-a15);
  background-color: var(--white);
}
.elector-top-section .ad-section .divide .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.elector-top-section .ad-section .divide .col h1 {
  color: green;
  font-size: 25px;
  font-weight: bold;
  /* font-family: 'Titan One', sans-serif; */
}
.elector-top-section .ad-section .divide .col p {
  color: var(--black-a75);
  font-size: 12px;
  text-align: justify;
}
.elector-top-section .ad-section .col-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}
.elector-top-section .ad-section .col-2 .img {
  object-fit: contain;
  animation: zoom 10s ease-in-out infinite;
  animation-delay: 10s;
  width: 200px;
  height: 200px;
}
.elector-top-section .ad-section .nav-search {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid var(--black-a15);
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--white);
}
.elector-top-section .ad-section .nav-search input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 5px;
}
.elector-top-section .ad-section .nav-search .bx {
  font-size: 21px;
  font-weight: bold;
  color: var(--blue-70);
}
.ongoing-event {
  min-width: 280px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid var(--black-a15);
  background-color: var(--white);
}
.ongoing-event .ongoing-top {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-bottom: 1px solid var(--black-a30);
}
.ongoing-event .ongoing-top h4 {
  font-weight: bold;
  font-size: 18px;
  color: var(--black-a60);
}
.ongoing-event .ongoing-top i {
  font-weight: bold;
  color: green;
}
.event-list {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
  gap: 8px;
}
.empty-list {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: var(--black-a04);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.empty-list i {
  color: var(--blue-70);
  font-size: 30px;
  font-weight: bold;
}
.empty-list small {
  color: var(--black-a60);
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}
.event-list .event-item {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
  padding: 5px;
  background-color: var(--blue-70);
  border-radius: 5px;
  cursor: pointer;
}
.event-item:hover {
  background-color: var(--blue-60);
}
.event-list .event-item .event-name {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
}
.event-list .event-item .event-name i {
  font-size: 22px;
  color: var(--white);
  margin-top: -14px;
}
.event-list .event-item .event-name h5 {
  font-size: 12px;
  font-weight: bold;
  color: var(--white);
}
.event-list .event-item .event-org {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
}
.event-list .event-item .event-org i {
  color: var(--white);
  font-size: 12px;
  animation: flash 3s ease-in-out infinite;
}
.event-list .event-item .event-org small {
  font-size: 10px;
  font-weight: 100;
  color: var(--blue-30);
}

/* MEDIA QUERY FOR elector-top-section */
@media screen and (max-width: 1230px) {
  .elector-top-section {
    gap: 25px;
  }
  .elector-top-section .ad-section {
    gap: 20px;
  }
  .elector-top-section .ad-section .divide {
    padding: 10px 20px;
    gap: 10px;
  }
  .elector-top-section .ad-section .divide .col h1 {
    font-size: 17px;
  }
  .elector-top-section .ad-section .divide .col p {
    font-size: 10px;
  }
  .elector-top-section .ad-section .divide .col .btn {
    font-size: 10px;
  }
  .elector-top-section .ad-section .col-2 .img {
    width: 150px;
    height: 150px;
  }
  .elector-top-section .ad-section .nav-search {
    height: 35px;
    gap: 8px;
  }
  .elector-top-section .ongoing-event {
    height: 230px;
  }
}
@media screen and (max-width: 900px) {
  .elector-top-section {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 500px) {
  .ongoing-event .ongoing-top h4 {
    font-size: 15px;
  }
  .elector-top-section .ad-section .col-2 {
    display: none;
  }
  /* media query event-item */
  .event-list .event-item .event-name i {
    font-size: 16px;
    margin-top: -11px;
  }
  .event-list .event-item .event-name h5 {
    font-size: 10px;
  }
  .event-list .event-item .event-org {
    padding-left: 24px;
  }
  .event-list .event-item .event-org i {
    font-size: 10px;
  }
  .event-list .event-item .event-org small {
    font-size: 7px;
  }
  .event-list .empty-list small {
    font-size: 8px;
  }
}
@media screen and (max-width: 320px) {
  .elector-top-section .ongoing-event {
    width: fit-content;
  }
}

/* elector-body-section  */
.elector-body-section {
  width: 100%;
  height: fit-content;
  margin-top: 20px;
  padding: 30px 0px;
  border-top: 1px solid var(--black-a15);
}
.elector-body-section .section-title {
  color: var(--black-a60);
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}
.elector-body-section small {
  color: green;
  width: 100%;
  font-size: 10px;
}
.list-of-orgs {
  width: 100%;
  margin-top: 20px;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.list-of-orgs .list-cards {
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 8px var(--black-a04);
  background-color: var(--extra);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.list-of-orgs .list-cards:hover {
  background-color: var(--blue-40);
}
.list-of-orgs .list-cards .img {
  border-radius: 5px 5px 10px 10px;
  width: 100%;
  height: 75%;
  object-fit: scale-down;
  background-color: var(--white);
  border-bottom: 1px solid var(--black-a15);
}
.list-of-orgs .list-cards div {
  width: 100%;
  height: 25%;
  padding: 5px 10px;
}
.list-of-orgs .list-cards small {
  width: 100%;
  font-size: 9px;
  color: var(--black-a45);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-of-orgs .list-cards h4 {
  width: 100%;
  font-size: 11px;
  color: var(--black-a60);
}
.list-of-orgs .list-cards small span {
  font-size: 10px;
  font-weight: bold;
  color: orange;
}
.list-of-orgs .list-cards small i {
  font-size: 13px;
  font-weight: bold;
  color: var(--black);
}

/* MEDIA QUERY FOR LIST SECTION */
@media screen and (max-width: 1000px) {
  .list-of-orgs {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 680px) {
  .list-of-orgs {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .elector-body-section .section-title {
    font-size: 15px;
  }
  .list-of-orgs .list-cards {
    height: 160px;
    gap: 10px;
  }
  .list-of-orgs .list-cards div {
    padding: 3px 6px;
  }
  .list-of-orgs .list-cards small {
    font-size: 7px;
  }
  .list-of-orgs .list-cards h4 {
    font-size: 9px;
  }
  .list-of-orgs .list-cards small span {
    font-size: 7px;
  }
  .list-of-orgs .list-cards small i {
    font-size: 9px;
  }
}
@media screen and (max-width: 400px) {
  .list-of-orgs {
    gap: 5px;
  }
}

/* Elector organizations page */
.my-organization-body {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 50px;
}
.my-organization-body .sectioning {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.my-organization-body .sectioning .empty-list {
  height: 270px;
}
.my-organization-body .sectioning h1 {
  font-size: 18px;
  font-weight: bold;
  color: var(--black-a60);
  text-align: left;
  width: 100%;
}
.my-organization-body .sectioning .small {
  color: green;
  width: 100%;
  font-size: 10px;
  text-align: left;
}
.sec {
  grid-template-columns: repeat(3, 1fr) !important;
}
/* media query for elector organization page */
@media screen and (max-width: 1100px) {
  .my-organization-body {
    grid-template-columns: 1fr;
    gap: 25px;
  }
  .my-organization-body .sectioning {
    grid-area: 2;
  }
  .my-organization-body .ongoing-event {
    grid-area: 1;
  }
}
@media screen and (max-width: 630px) {
  .sec {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .my-organization-body .sectioning h1 {
    font-size: 15px;
  }
  .my-organization-body .sectioning .small {
    font-size: 8px;
  }
}

/* Elector notification page */
.notification-section {
  width: 100%;
  height: fit-content;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.notification-section .empty-list {
  height: 270px;
}
.notification-section .section-title {
  font-size: 18px;
  font-weight: bold;
  color: var(--black-a60);
  text-align: left;
  width: 100%;
}
.notification-section .small {
  color: green;
  width: 100%;
  font-size: 10px;
  text-align: left;
}
.list-of-notifications {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  margin-top: 20px;
  /* padding-top: 20px; */
  padding-bottom: 20px;
  box-shadow: 0px 5px 10px 5px var(--black-a04);
  background-color: var(--white);
}
.list-of-notifications .notify-item {
  width: 100%;
  height: 100px;
  padding: 0px 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 5px;
  border-bottom: 1px solid var(--black-a15);
  transition: 0.2s ease-in-out;
}
.list-of-notifications .notify-item:hover {
  background-color: var(--extra);
}
.list-of-notifications .notify-item .actions {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
.list-of-notifications .notify-item .actions .ignore {
  background-color: transparent !important;
  color: var(--black-a60) !important;
  border-radius: 5px !important;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}
.list-of-notifications .notify-item .actions .ignore:hover {
  background-color: var(--black-a04) !important;
  color: var(--black) !important;
}
.list-of-notifications .notify-item .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.list-of-notifications .notify-item .content .img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: scale-down;
  border: 1px solid var(--black-a08);
  background-color: var(--white);
  cursor: pointer;
}
.list-of-notifications .notify-item .content .text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.list-of-notifications .notify-item .content .text h1 {
  width: fit-content;
  height: fit-content;
  font-size: 14px;
  font-weight: bold;
  color: green;
  cursor: pointer;
}
.list-of-notifications .notify-item .content .text p {
  width: 100%;
  height: fit-content;
  font-size: 12px;
  font-weight: bold;
  color: var(--black-a60);
}
.list-of-notifications .notify-item .content .text small {
  width: 100%;
  height: fit-content;
  font-size: 10px;
  color: var(--black-a45);
}
/* media query for elector notification page */
@media screen and (max-width: 700px) {
  .notification-section .section-title {
    font-size: 15px;
  }
  .notification-section .small {
    font-size: 8px;
  }
  .list-of-notifications {
    margin-top: 15px;
    padding-bottom: 15px;
  }
  .list-of-notifications .notify-item {
    height: 80px;
    padding: 0px 10px;
    gap: 0px;
  }
  .list-of-notifications .notify-item .content {
    gap: 5px;
  }
  .list-of-notifications .notify-item .content .img {
    width: 50px;
    height: 50px;
  }
  .list-of-notifications .notify-item .content .text h1 {
    font-size: 10px;
  }
  .list-of-notifications .notify-item .content .text p {
    font-size: 8px;
  }
  .list-of-notifications .notify-item .content .text small {
    font-size: 6px;
  }
  .list-of-notifications .notify-item .actions button {
    font-size: 7px !important;
    padding: 5px 8px !important;
    border-radius: 2px;
  }
}

/* Elector profile page section */
.profile-section {
  margin-bottom: 30px;
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 5px 8px 5px var(--black-a04);
  background-color: var(--white);
}
.profile-forms {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.edit-profile {
  width: 100%;
  height: fit-content;
  font-weight: 100;
  font-size: 14px;
  color: var(--black-a75);
  padding: 0px 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.edit-profile i {
  font-size: 15px;
  font-weight: bold;
  color: var(--black-a75);
}
.profile-forms input {
  width: 100%;
  height: 45px;
  padding: 8px 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--black-a15);
  transition: 0.1s ease-in-out;
}
.profile-forms input:hover {
  outline: none;
  border: 1px solid var(--black-a30);
}
.profile-forms button {
  width: 100%;
  /* border-radius: 5px; */
}
.profile-forms .edits {
  align-self: self-end;
  width: fit-content;
}
.profile-forms .edits i {
  font-size: 13px;
  color: var(--white);
}

/* MEDIA QUERY FOR ELECTOR PROFILE PAGE */
@media screen and (max-width: 600px) {
  .profile-section {
    grid-template-columns: 1fr;
    padding: 15px;
  }
  .profile-forms .edits {
    width: 100%;
  }
}

/* ORGANIZATIONS SECTION */
.member-cards {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 8px var(--black-a04);
  background-color: var(--white);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  overflow: hidden;
}
.member-cards:hover {
  background-color: var(--blue-40);
}
.member-cards .img {
  border-radius: 5px 0px 0px 5px;
  height: 100%;
  width: 40%;
  object-fit: scale-down;
  background-color: var(--white);
  border-right: 1px solid var(--black-a15);
}
.member-cards div {
  width: 60%;
  height: 100%;
  padding: 5px;
  align-content: center;
}
.member-cards small {
  width: 100%;
  font-size: 9px;
  color: var(--black-a45);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.member-cards h4 {
  width: 100%;
  font-size: 11px;
  color: var(--black-a60);
}
.organ {
  height: 300px;
}
/* media query organization main page */
@media screen and (max-width: 500px) {
  .member-cards {
    gap: 2px;
  }
  .member-cards div {
    padding-top: 10px;
    padding-right: 3px;
  }
  .member-cards small {
    font-size: 7px;
  }
  .member-cards h4 {
    font-size: 9px;
  }
}

/* ORGANIZATIONS NEW EVENT PAGE */
.new-event-section {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 100%);
  gap: 6%;
  transition: transform 0.5s ease;
}
.flow {
  height: fit-content;
  padding: 3%;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 8px var(--black-a04);
  background-color: var(--white);
}
/* set name section */
.set-name {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.option-sec {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker__input-container {
  display: block;
}
.react-datepicker__time-container {
  margin-top: 0px;
}
.set-name div h3 {
  font-size: 18px;
  font-weight: bold;
  color: green;
  text-align: left;
  width: 100%;
}
.set-name div input {
  width: 100%;
  height: 45px;
  padding: 8px 15px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--black-a15);
  transition: 0.1s ease-in-out;
}
.set-name div input:hover {
  outline: none;
  border-bottom: 1px solid var(--black-a30);
}
.set-name div small {
  color: var(--black-a60);
  width: 100%;
  font-size: 10px;
  text-align: left;
}
.set-name .checkbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}
.set-name .checkbox input {
  width: 15px;
  height: 15px;
}
.set-name .checkbox label {
  font-size: 13px;
}
.flow .btnn {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--blue-70);
  font-weight: bold;
  font-size: 16px;
  align-self: flex-end;
}
/* media query for set name section */
@media screen and (max-width: 500px) {
  .flow .btnn {
    font-size: 12px;
  }
  .set-name {
    gap: 20px;
  }
  .option-sec {
    gap: 5px;
  }
  .set-name div h3 {
    font-size: 12px;
  }
  .set-name div input {
    height: 40px;
    padding: 5px 10px;
  }
  .set-name .checkbox {
    gap: 8px;
  }
  .set-name .checkbox input {
    width: 12px;
    height: 12px;
  }
  .set-name .checkbox label {
    font-size: 11px;
  }
}
/* set-type section */
.set-type {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
}
.set-type .inner-container {
  border: none;
}
.set-type h1 {
  font-size: 18px;
  font-weight: bold;
  color: green;
  text-align: center;
  width: 100%;
}
.set-type small {
  color: var(--black-a60);
  width: 100%;
  font-size: 10px;
  text-align: center;
}
.set-type .actions {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

/* media query for set-type section */
@media screen and (max-width: 600px) {
  .set-type {
    padding: 4%;
    height: 90%;
    margin-bottom: 20px;
    justify-content: flex-start;
    gap: 0px;
    overflow-y: scroll;
  }
}

/* set poll question section */
.poll-questions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.poll-questions .poll-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 60vh;
}
.poll-questions h3 {
  font-size: 18px;
  font-weight: bold;
  color: green;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.poll-questions .bx {
  font-size: 22px;
  font-weight: bold;
  padding: 10px;
  border-radius: 50%;
  color: var(--black-a45);
  background-color: var(--black-a04);
  transition: 0.1s ease-in-out;
}
.poll-questions .bx:hover {
  color: var(--black-a90);
  background-color: var(--black-a08);
}
.poll-questions div {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.poll-questions div input {
  width: 100%;
  height: 45px;
  padding: 8px 15px;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--black-a15);
}
.poll-questions div input:hover {
  outline: none;
  border: 1px solid var(--black-a30);
}
/* media query for poll-questions */
@media screen and (max-width: 500px) {
  .poll-questions h3 {
    font-size: 12px;
  }
  .poll-questions .bx {
    font-size: 12px;
    padding: 5px;
  }
  .poll-questions .bx:hover {
    color: var(--black-a90);
  }
  .poll-questions div {
    gap: 6px;
    padding: 5px;
  }
  .poll-questions div input {
    height: 38px;
    padding: 5px 10px;
  }
}

/* candidate-section */
.candidate-type {
  width: 100%;
  overflow-y: scroll;
  max-height: 60vh;
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start !important;
}
.candidate-type .divider {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 0px;
  border-radius: 5px;
  border: 1px solid var(--black-a15);
  overflow: hidden;
}
.candidate-type h3 {
  background-color: var(--extra);
  color: var(--black-a60);
  padding: 5px 10px;
  font-size: 13px;
}
/* media query for candidate section */
@media screen and (max-width: 650px) {
  .candidate-type {
    grid-template-columns: 1fr;
  }
}

/* Confirm section */
.confirm-section {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  justify-self: center;
}
.confirm-section div {
  width: 100%;
}
.confirm-section .image {
  width: 100%;
  font-size: 150px;
  font-weight: 100;
  color: var(--white);
  background-color: var(--extra);
  text-align: center;
  border-radius: 8px;
}
.confirm-section .actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.confirm-section h4 {
  font-size: 15px;
  font-weight: bold;
  color: var(--black-a60);
  text-align: left;
  width: 100%;
}
.confirm-section small {
  color: green;
  width: 100%;
  font-size: 10px;
  text-align: left;
}
/* media query for confirm section */
@media screen and (max-width: 500px) {
  .confirm-section {
    gap: 12px;
  }
  .confirm-section .image {
    font-size: 130px;
    border-radius: 5px;
  }
  .confirm-section h4 {
    font-size: 12px;
  }
  .confirm-section small {
    font-size: 8px;
  }
}

/* SINGLE EVENT PAGE */
.poll-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}
.poll-view div {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  background-color: var(--black-a04);
  padding: 10px 3px;
}
.poll-view h6 {
  flex-basis: 80%;
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-weight: 200;
  color: var(--black-a60);
}
.poll-view h1 {
  flex-basis: 10%;
  width: 100%;
  height: 100%;
  text-align: right;
  font-size: 25px;
  font-weight: bold;
  color: var(--black-a75);
}
.vote-btn {
  height: fit-content;
  width: fit-content;
  padding: 7px 9px;
  font-size: 10px;
  font-weight: bold;
  border-width: 0px;
  border-radius: 3px;
  color: var(--white) !important;
  background-color: orange;
  cursor: pointer;
}
.vote-btn:hover {
  background-color: var(--blue-50);
}
.election-view {
  width: 100%;
  height: fit-content;
}
.result-display {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: flex-start;
}
.card-body {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.candidate-card {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  background-color: var(--black-a04);
}
.candidate-card .cand-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--black-a08);
}
.candidate-card h1 {
  font-size: 10px;
  font-weight: bold;
  color: green;
}
.candidate-card small {
  font-size: 8px;
  color: var(--black-a45);
}

/* MEDIA QUERY FOR SINGLE EVENT PAGE */
@media screen and (max-width: 800px) {
  .poll-view {
    gap: 10px;
  }
  .poll-view h6 {
    font-size: 11px;
    font-weight: 100;
  }
  .poll-view h1 {
    font-size: 20px;
  }
  .card-body {
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
  }
  .candidate-card {
    padding: 5px 0px;
  }
  .candidate-card .cand-pic {
    width: 50px;
    height: 50px;
  }
  .candidate-card h1 {
    font-size: 8px;
  }
  .candidate-card small {
    font-size: 7px;
  }
}
@media screen and (max-width: 600px) {
  .card-body {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* OVERLAY AND POP-UP STYLING */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup h1 {
  font-size: 18px;
  font-weight: bold;
  color: var(--black-a60);
  text-align: left;
  width: 100%;
}
.popup small {
  color: green;
  width: 100%;
  font-size: 10px;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 35px;
  font-weight: bold;
  color: var(--white);
}

/* UPLOAD IMAGE SECTION */
.drag-and-drop-zone {
  border: 2px dashed var(--cool-gray-40);
  padding: 30px;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
}

.drag-and-drop-zone.dragging {
  border: 3px dashed var(--blue-70);
}
